@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --title-color: #1A1A1A;
    --subtitle-color: #515151;
    --background-color: #FFFFFF;
    --background-color-bottom: #CCCCCC;
    --secondary-background-color: #1A1A1A;
    --text-color: #1A1A1A;
    --accent-color: #4677ff;
    /*
    --navbar-height: 16vh;
*/
    --navbar-height: 100px;
    --navmenu-width: 200px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --title-color: #F8F8F8;
        --subtitle-color: #9c9b9b;
        --background-color: #353535;
        --background-color-bottom: #151515;
        --secondary-background-color: #F8F8F8;
        --text-color: #F8F8F8;
    }

    #navbar img {
        content: url("data/noku_logo.png");
    }
}

body {
    background-color: var(--background-color);
    background: -moz-linear-gradient(180deg, var(--background-color) 0%, var(--background-color-bottom) 100%);
    background: -webkit-linear-gradient(180deg, var(--background-color) 0%, var(--background-color-bottom) 100%);
    background: linear-gradient(180deg, var(--background-color) 0%, var(--background-color-bottom) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a1a1a",endColorstr="#000000",GradientType=1);
    font-family: 'Raleway', sans-serif;
    padding-top: var(--navbar-height);
    color: var(--text-color);
}

p {
    color: var(--text-color);
}

ion-icon {
    color: inherit;
    vertical-align: middle;
    margin-top: -4px;
}

#navbar {
    height: var(--navbar-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    box-shadow: 0px 6px 15px -2px rgba(0,0,0,0.35);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

#navbar nav {
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 10%;
    padding-right: 5%;
}

#navbar nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 12px;
    overflow: hidden;
    vertical-align: middle;
}

#navbar nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
}

#navbar nav ul li a:hover {
    color: var(--background-color);
    background-color: var(--secondary-background-color);
    border-radius: 6px;
}

#navbar nav ul li:hover > ul {
    display: block;
}

#navbar nav ul li ul {
    display: none;
    position: absolute;
    align-items: center;
    padding-top: 16px;
    padding-left: 0;
    background-color: var(--background-color);
    border-radius: 8px;
    float: center;
    box-shadow: 0px 6px 15px -2px rgba(0,0,0,0.35);
    
}

#navbar nav ul li ul li {
    position: relative;
    margin: 0;
    top: inherit;
    align-items: center; 
    text-align: center;
    display: list-item;
    color: var(--background-color);
    padding: 12px;
}

#navbar img {
    height: calc(var(--navbar-height) - 16px);
    margin-right: auto;
    vertical-align: middle;
    margin-top: -8px;
    float: left;
}

#navbar h1 {
    height: auto;
    width: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    padding-top: -8px;
    float: left;
}

#small-search-input {
    width: 96px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 16px;
    /*box-shadow: 0px 6px 15px -2px rgba(0,0,0,0.35);*/
    border-style: solid;
    border-color: var(--secondary-background-color);
    border-radius: 8px;
    padding-left: 8px;
}

#full-search-input, #full-search-input-mobile {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin: 2px 16px;
    /*box-shadow: 0px 6px 15px -2px rgba(0,0,0,0.35);*/
    border-style: solid;
    border-color: var(--background-color-bottom);
    border-radius: 8px;
    padding-left: 8px;
    width: 64vw;
    height: 32px;
}

#full-search-input:focus, #full-search-input-mobile:focus {
    font-weight: normal;
}

/*#navmenu {
    display: none;
}*/

#letter-list {
    margin-right: 32px;
}

#letter-list li {
    list-style-type: circle;
    display: inline-block;
    align-items: center;
    padding: 10px 10px;
}

#letter-list a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    padding: 8px;
    border-radius: 8px;
    border-style: none;
}

#letter-list a:hover {
    color: var(--background-color);
    background-color: var(--secondary-background-color);
    border-radius: 8px;
    padding: 8px;
     
    transition: ease-in-out;
    transition-duration: 30ms;
}

#word-list, #matching-noku, #matching-english, #matching-noku-mobile, #matching-english-mobile {
    text-align: left;
}

#word-list li, #matching-noku li, #matching-english li, #matching-noku-mobile li, #matching-english-mobile li {
    padding: 8px 10px;
    font-size: 18px;
}

#word-list a, #matching-noku a, #matching-english a, #matching-noku-mobile a, #matching-english-mobile a {
    text-align: left;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
}

#word-list a:hover, #matching-noku a:hover, #matching-english a:hover, #matching-noku-mobile a:hover, #matching-english-mobile a:hover {
    color: var(--background-color);
    background-color: var(--secondary-background-color);
    border-radius: 8px;
    padding: 8px;
}

#word-list a:hover > span, #matching-noku a:hover > span, #matching-english a:hover > span, #matching-noku-mobile a:hover > span, #matching-english-mobile a:hover > span {
    color: var(--background-color);
    font-weight: lighter;
}

#word-list a span, #matching-noku a span, #matching-english a span, #matching-noku-mobile a span, #matching-english-mobile a span {
    font-weight: lighter;
    font-style: italic;
    font-size: 17px;
    color: var(--subtitle-color);
}

#word-type {
    color: var(--subtitle-color);
}

#possible-verb-forms span {
    font-style: normal;
    font-weight: lighter;
}

#word-definitions {
    margin-right: 64px;
    margin-left: 64px;
    text-align: left;
}

#word-definitions li {
    font-size: 24px;

}

#word-examples li {
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
}

#word-examples li span {
    font-style: italic; 
    text-align: left;
    font-weight: lighter;
}

#bottom-container {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 32px;
    align-content: center;
    justify-content: space-between;
}

#bottom-container a {
    color: inherit;
    text-decoration: none;
}

#bottom-container #content-before {
    color: var(--text-color);
    position: sticky;
    text-align: left;
    margin-left: 32px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    padding: 8px;
}

#bottom-container #content-after {
    color: var(--text-color);
    position: relative;
    text-align: right;
    float: right;
    margin-right: 32px;
    font-size: 24px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    padding: 8px;
}

#bottom-container #content-before:hover, #bottom-container #content-after:hover {
    color: var(--background-color);
    background-color: var(--secondary-background-color);
    border-radius: 8px;
}

.hidden {
    display: none;
}

.content-center {
    width: auto; 
    text-align: center;
    align-items: center; 
    padding: 50px; 
    margin-inline-start: 16px;
    margin-inline-end: 16px;
}

hr {
    border-top: 1px solid;
    border-left: 256vw;
}

table, th, td  {
    border-collapse: collapse;
    border: 1px solid;
    border-color: var(--text-color);
    color: var(--text-color);
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
}

.content-center p {
    text-align: left;
    padding-left: 16vw;
    padding-right: 16vw;
}

.content-block {
    display: inline-block;
    background-color: var(--background-color);
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 18px;
    width: auto;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.content-block a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

.content-block a:hover {
    color: var(--background-color);
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    padding: 0px 2px;
    font-weight: bold;
}

.content-block h2 {
    padding-left: 16px;
    padding-right: 16px;
}

.content-block blockquote {
    display: inline-block;
    background-color: var(--accent-color);
    color: #F0F0F0;
    width: auto;
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 24px;
    box-shadow: 0px 6px 15px -2px rgba(0,0,0,0.35);
    text-decoration: none;
}

.content-block blockquote p, .content-block blockquote a {
    font-style: italic;
    color: #F8F8F8;
    text-decoration: none;
}

.content-block blockquote a:hover {
    color: var(--accent-color);
    background-color: #F8F8F8;
    border-radius: 4px;
    padding: 0px 2px;
    font-weight: bold;
}

.content-sides {
    display: flex;
    align-content: flex-start;
    align-items: baseline;
    justify-content: space-between;
}

.block-on-left {
    text-align: inherit;
    width: 40vw;
    float: left;
}

.block-on-right {
    text-align: inherit;
    float: right;
    width: 40vw;
}

.block-on-left p {
    padding-left: 20px;
    padding-right: 20px;
}

.block-on-right p {
    padding-left: 20px;
    padding-right: 20px;
}

.footnote {
    font-style: italic;
    font-size: smaller;
    text-align: center;
}

#page-title {
    text-align: center;
    color: var(--title-color);
    font-weight: 300;
}

#page-subtitle {
    text-align: center;
    color: var(--subtitle-color);
    font-weight: 200;
}

#page-message {
    text-align: center;
    color: var(--subtitle-color);
    font-weight: 400;
}

.for-mobile {
    display: none;
}

*:focus {
    outline-color: var(--secondary-background-color);
}

/* External (Credit: Mel Shields) */

#menu-toggle {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 30px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    color: var(--text-color);
}
  
#menu-toggle input
  {
    display: flex;
    width: 45px;
    height: 32px;
    top: 15px;
    left: -15px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menu-toggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: var(--text-color);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menu-toggle span:first-child
  {
    transform-origin: 0% -100vw;
  }
  
  #menu-toggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menu-toggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: var(--text-color);
  }
  #menu-toggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menu-toggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu
  {
    position: absolute;
    overflow: auto;
    width: var(--navmenu-width);
    height: calc(100vh - 116px);
    box-shadow: 0 0 10px rgba(0,0,0,0.35);;
    margin: -50px 0 0 0px;
    padding: 32px;
    padding-top: 116px;
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    left: 100%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 5px 0;
    transition-delay: 0s;
  }
  
  #menu-toggle input:checked ~ ul
  {
    transform: translate(calc(var(--navmenu-width) * -1), 0);
  }

@media screen and (max-width: 815px) {
    .content-center {
        padding-left: 24px;
        padding-right: 14px;
    }

    #navbar h1 {
        left: -16px;
        padding-top: 6px;
        font-size: 22px;
    }

    #full-search-input {
        display: none;
    }

    .content-sides {
        display: none;
    }

    .for-mobile {
        display: block;
    }
}

@media screen and (max-width: 1300px) {
    #navbar nav #main-bar {
        display: none;
    }

    #navbar #navmenu {
        display:block;
    }

    .block-on-left {
        text-align: inherit;
        width: 36vw;
        float: left;
    }
    
    .block-on-right {
        text-align: inherit;
        float: right;
        width: 36vw;
    }
}

@media (max-width:1000px) and (min-width:200px) {
    .content-center p {
        padding-left: calc(10px + (100vw - 200px) * (15 - 30) / (200 -  1000));
        padding-right: calc(10px + (100vw - 200px) * (15 - 30) / (200 -  1000));
    }

    .content-block {
        padding-left: calc(10px + (100vw - 200px) * (15 - 30) / (200 -  1000));
        padding-right: calc(10px + (100vw - 200px) * (15 - 30) / (200 -  1000));
    }
}; 

